.bat_gif {
  width: 50%;
}

.t_blood_bank {
  font-size: 1.8em;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 1.5em auto;
  text-shadow: 2px 2px 1px #300000, 2px 6px 1px #400000, 2px 8px 1px #500000;
  
}

.container_bloodbank {
  width: 40%;
}

@media (max-width: 768px) {
  .container_bloodbank {
    width: 100%;
  }
}
#uniswap_iframe {
  border: 0;
  margin: auto;
  position: flex;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}
